*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height:100vh;
    background: #b6a996;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    bottom: 30px;
    /*align-items: center;*/
    justify-content: space-between;
}
nav img{
    position: relative;
    width: 120px;
    height: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgba(8, 8, 8, 0.982);
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color:rgb(11, 11, 11);
    margin-bottom: 20px;
}

span{
    color: rgb(252, 6, 43);
}
.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.06s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%, 20% {
        content: "Backend Developer";
    }
    21%, 40% {
        content: "Web Developer";
    }
    41%, 60% {
        content: "Frontend Developer";
    }
    61%, 80% {
        content: "UI / UX Designer";
    }
    81%, 100% {
        content: "Software Developer";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
.detel p{
    color: #555;
    line-height: 22px;
}

/*.detel a{
    background: #5f4f9e;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}*/

.images{
    width: 45%;
    height: 60%;
    position: absolute;
    bottom: 50px;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 50px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .bpshahi{
    left: 45%;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(27, 15, 198);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(3, 16, 5);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

/*for contact page*/

